[build]
  command = "pnpm build"
  functions = "netlify/functions"
  publish = "dist"

[dev]
  command = "pnpm dev"
  port = 5173

[[redirects]]
  from = "/api/*"
  to = "/.netlify/functions/api/:splat"
  status = 200

[[redirects]]
  from = "/*"
  to = "/index.html"
  status = 200
